body {
      font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    h3 {
      font-size: 18px;
      color: #555555;
      font-weight: bold;
      border-bottom: solid 1px #bbbbbb;
      box-shadow: 0 1px 0 white;
      margin: 13px 0;
      overflow: hidden;
      line-height: 1.2em;
      padding-bottom: 3px;
    }
    .btn {
      display: inline-block;
      *display: inline;
      padding: 4px 12px;
      margin-bottom: 0;
      *margin-left: .3em;
      font-size: 14px;
      line-height: 20px;
      color: #333333;
      text-align: center;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      vertical-align: middle;
      cursor: pointer;
      background-color: #f5f5f5;
      *background-color: #e6e6e6;
      background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
      background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
      background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
      background-repeat: repeat-x;
      border: 1px solid #cccccc;
      *border: 0;
      border-color: #e6e6e6 #e6e6e6 #bfbfbf;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      border-bottom-color: #b3b3b3;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      *zoom: 1;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
      color: #333333;
      background-color: #e6e6e6;
      *background-color: #d9d9d9;
    }

    .btn:active,
    .btn.active {
      background-color: #cccccc \9;
    }

    .btn:first-child {
      *margin-left: 0;
    }

    .btn:hover,
    .btn:focus {
      color: #333333;
      text-decoration: none;
      background-position: 0 -15px;
      -webkit-transition: background-position 0.1s linear;
         -moz-transition: background-position 0.1s linear;
           -o-transition: background-position 0.1s linear;
              transition: background-position 0.1s linear;
    }

    .btn:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    .btn.active,
    .btn:active {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .btn.disabled,
    .btn[disabled] {
      cursor: default;
      background-image: none;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
    a.btn {
      text-decoration: none;
    }
    .navbar {
        color: rgb(51, 51, 51);
        display: block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        height: 42px;
        line-height: 20px;
        margin-bottom: 20px;
        overflow-x: visible;
        overflow-y: visible;
        width: 100%;
    }
    .navbar-inner {
      -webkit-box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;
      background-color: rgb(27, 27, 27);
      background-image: linear-gradient(rgb(34, 34, 34), rgb(17, 17, 17));
      background-repeat: repeat-x;
      border-bottom-color: rgb(37, 37, 37);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(37, 37, 37);
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: rgb(37, 37, 37);
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: rgb(37, 37, 37);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top-style: solid;
      border-top-width: 1px;
      box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px 0px;
      color: rgb(51, 51, 51);
      display: block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      min-height: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .nav {
      color: rgb(51, 51, 51);
      display: block;
      float: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 40px;
      left: 0px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 10px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      position: relative;
    }
    .nav li {
      color: rgb(51, 51, 51);
      display: list-item;
      float: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      text-align: left;
    }
    .nav li a {
      color: rgb(153, 153, 153);
      cursor: auto;
      display: block;
      float: none;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      text-align: left;
      text-decoration: none solid rgb(153, 153, 153);
      text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    }
    .nav li.active, {
      color: rgb(51, 51, 51);
      display: list-item;
      float: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 40px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      text-align: left;
    }
    .nav li.active a {
      -webkit-box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px 0px inset;
      background-color: rgb(17, 17, 17);
      box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px 0px inset;
      color: rgb(255, 255, 255);
      cursor: auto;
      display: block;
      float: none;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      text-align: left;
      text-decoration: none solid rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    }
    .nav li a:hover {
      background-color: rgba(0, 0, 0, 0);
      color: rgb(255, 255, 255);
      cursor: auto;
      display: block;
      float: none;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      list-style-image: none;
      list-style-position: outside;
      list-style-type: none;
      outline-color: rgb(255, 255, 255);
      outline-style: none;
      outline-width: 0px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      text-align: left;
      text-decoration: none solid rgb(255, 255, 255);
      text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    }