h2 {
	background: #3879B1;
	color: #fff;
	padding: 20px;
	margin-top: 0;
	text-align: center;
}
h3 {
	margin-top: 0;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-nav>li>a {
	line-height: 15px;
}
.input-small {
	width: 20px;
}
label {
	display: inline-block;
}
.form-control {
	display: inline-block;
}
.moduleOptions li, .indModuleOptions li {
	margin-bottom: 5px;
}
.well {
	overflow: hidden;
}
.btn-group {
	margin-right: 10px;
}
#moduleList .list-group-item:nth-child(even) {
	background-color: #f7f7f9;
}
#themeSelect {
	margin-bottom: 20px;
	overflow: hidden;
}
#themeList li {
	float:left;
	margin: 1px;
}
#themeList a.template {
	padding: 2px;
	width: 136px;
	line-height: 64px;
}
#themeList a.ratio {
	width: 67px;
	line-height: 8px;
}
#imageWrapper {
	margin: 10px 20px 10px 0;
	float:left;
}
.patternLabel {
	width: 140px;
}
#sizeRestriction {
	font-style: italic;
	margin-left: 20px;
}
.template img {
	max-width: 130px;
	max-height: 60px;
}
@media screen and (max-width: 990px) {
	.imageFields {
		clear: both;
	}
}
